[Unit]
Description=HY DIAL

[Service]
User=root
Group=root

Environment=QTDIR=/usr/appsoft/qt-arm 
Environment=SYSTEMHOME=/usr/appsoft/hysys 
Environment=PATH=$PATH:$QTDIR/bin:$SYSTEMHOME/bin:/bin:/usr/bin:/sbin:/etc/ppp/peers:/usr/sbin

ExecStart=/usr/sbin/pppd call gprsdial
Restart=always

[Install]
WantedBy=multi-user.target
